<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:component="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <component:component-scan base-package="sample.service"/>
    <component:component-scan base-package="sample.dao"/>

    <tx:annotation-driven/>

    <bean id="httpInvokerBubbleService" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter" >
        <property name="serviceInterface" value="sample.service.BubbleService"/>
        <property name="service" ref="bubbleServiceImpl"/>
    </bean>

    <!-- see http://forum.springsource.org/showthread.php?63168-Adapter-for-HttpInvoker -->
    <bean id="httpRequestHandlerAdapter" class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <value>
                /bubbleService=httpInvokerBubbleService
            </value>
        </property>
    </bean>

</beans>